/*** Reseteo propiedades ***/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("../images/image.png");
    background-position: 40% 30%;
    background-size: 2400px;
    background-repeat: no-repeat;
}

.Salir{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.Salir a{
    text-decoration: none;
    color: #000;

}

.Salir a:hover{
    color: rgb(236, 133, 16);
}

form{
    width:360px;
    height: 400px;
    background: rgb(255, 255, 255);
    margin: auto;
    margin-top: 10px;
    box-shadow: 7px 13px 37px #2f2f2f;
    padding: 20px 30px;
    border-top: 4px solid rgb(236, 133, 16);
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

form h5{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(236, 133, 16);
    font-size: 20px;
}

.controls{
    width: 100%;
    border: 1px solid gray;
    margin-bottom: 10px;
    padding: 11px 10px;
    background-color: rgb(238, 238, 238);
    font-size: 13px;
    font-weight:lighter;
}

.buttons {
    width: 100%;
    height: 40px;
    background-color: rgb(236, 133, 16);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
    margin-top: 15px;
}

form p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid ;
}

form a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 14px;
}

form input[value = "Registrarme"]:hover{
    cursor:pointer;
    color: #000000;
}

form a:hover{
    text-decoration: underline;
}

/* validador */

.comprueba{
    display: none;
}

input:invalid:focus ~ .comprueba {
    display: inline;
    color: red;
}

input:valid:focus ~ .comprueba {
    display: none;
}